body {
    /* background-color: #221F1F; */
    background: url(./assets/foodflixIMG.jpg) ;
}
.outer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#foodflix {

    margin:0 auto;
    display:block;
    padding:20px 0 20px 0;
}
.button-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 20px;
}
.button-container p {
    color: white;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;
}


#random-food-button {
    width: 10rem;
    height: 2rem;
    margin:0 auto;
    display:block;
    font-size: 1rem;
    color: white;
    border-radius: 10px;
    background-color: #E50914;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family: Arial, Helvetica, sans-serif;
}



.food-container , .movie-container {
    width: 90vw;
    max-width: 400px ;
    height:100%;
    margin:4rem auto;
    display:block;
    /* border: solid 1px white;
    border-radius: 10px; */
}

.pluss {
    color: white;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 992px){
    .pluss {
        height: 90vh;
        width: auto;
    }
}

.container-border {
    border: solid 1px white;
    border-radius: 10px;
    box-shadow: 0px 4px 15px 0px white;
    background-color: #221F1F;
}

.recipe-title, .movie-title{
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    padding: 10px;
}

.food-container img , .movie-container img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    margin:10px auto;
    display:block;
    border:none;
}

.food-container li {
  list-style: inside square;
  margin-left: 20px;
}

.food-container ul {
  margin-bottom: 20px;
}

#recipe-instructions, li, .title , #movie-description{
    /* display:none; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    display: none;
    visibility: hidden;
  }

.toggleLabel {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    width: 100%;
    margin: 10px;
}

label {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }

#expand {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
    -webkit-transition:height 0.5s;
  }

label::before {
    content: '\25bc';
}

#toggle:checked ~ #expand {
    height: 100%;
}

#toggle:checked ~ label::before {
    content: '\25b2';
}

#toggleMovie:checked ~ #expandMovie {
    height: 100%;
}

#toggleMovie:checked ~ label::before {
    content: '\25b2';
}

#expandMovie {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
    -webkit-transition:height 0.5s;
  }


#recipe-instructions, #movie-description {
    padding: 10px;
}
/* 
.food-container:hover #recipe-instructions {
  display:block;
}

.food-container:hover #recipe-display {
  display:block;
}

.food-container:hover #movie-display {
  display:block;
}

.food-container:hover ul > li{
  display:block;
}

.movie-container:hover #movie-description{
  display: block;
}

#movie-display {
  display:none;
}

#recipe-display {
  display:none;
}

#recipe-ingredients {
  display:none;
}

#movie-description {
  display: none;
} */

.select-container {
    display: flex;
    justify-content: center;
    padding: 10px;
  
}
#foodSelector, #movieSelector{
    background-color: white;
    width: 200px;
    padding: 10px;
    font-weight: bold;
}