body {
    background-color: #221F1F;

}
.outer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#foodflix {
    margin:0 auto;
    display:block;
}

#random-food-button {
    width: 10rem;
    height: 2rem;
    font-size: 1rem;
    color: white;
    margin:0 auto;
    display:block;
    border-radius: 10px;
    background-color: #E50914;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.food-container , .movie-container{
    width: 90vw;
    max-width: 400px ;
    height:100%;
    margin:2rem auto;
    display:block;
    border: solid 1px white;
    border-radius: 10px;
}

.recipe-title, .movie-title{
    width: 100%;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
}

.food-container img , .movie-container img{
    width: 100%;
    object-fit: cover;
    height: 300px;
    margin:10px auto;
    display:block;
}

.food-container li {
    list-style: inside square;
    margin-left: 20px;
}

.food-container ul {
    margin-bottom: 20px;

}

#recipe-instructions, li{
}

#recipe-instructions, li, .title , #movie-description{
    display:none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#recipe-instructions, #movie-description {
    padding: 10px;
}

.food-container:hover #recipe-instructions {
  display:block;
}

.food-container:hover #recipe-display {
  display:block;
}

.food-container:hover #movie-display {
  display:block;
}

.food-container:hover ul > li{
  display:block;
}

.movie-container:hover #movie-description{
  display: block;
}

#movie-display {
  display:none;
}

#recipe-display {
  display:none;
}

#recipe-ingredients {
  display:none;
}

#movie-description {
  display: none;
}
